---
import Section from './Section.astro';
---

<Section class="animate-onscroll" id="home">
  <div class="flex w-full justify-between">
    <h3 class="text-md text-gray-500 md:text-lg lg:text-xl">#</h3>
    <h3 class="text-md text-gray-500 md:text-lg lg:text-xl">01</h3>
    <h3 class="text-md text-gray-500 md:text-lg lg:text-xl">Gharis Primada Hariyono</h3>
  </div>
  <div class="flex w-full justify-between">
    <h1 class="text-xl text-gray-700 lg:text-3xl">lifetime</h1>
    <img class="hidden md:w-40 lg:block lg:w-80" src="profile-picture.svg" alt="Primada Profile Picture" />
    <h1 class="text-xl text-gray-700 lg:text-3xl">learner</h1>
  </div>
  <div class="flex w-full justify-between">
    <h3 class="text-md text-gray-500 md:text-lg lg:text-xl">Software Engineer</h3>
    <h3 class="text-md text-gray-500 md:text-lg lg:text-xl">Frontend</h3>
  </div>
</Section>
