---
import cn from '@utils/cn';
interface Props extends astroHTML.JSX.HTMLAttributes {}

const { ...props } = Astro.props;
---

<section
  class={cn('h-screen px-20 lg:px-72 flex flex-col justify-center items-center gap-y-8', props.class)}
  {...props}
>
  <slot />
</section>
